*{
margin: 0 auto;
}

.header-container{
font-family: sans-serif;
background-color: rgba(48,52,65,1);
position:fixed; 
display: flex;
justify-content: space-around;
top:0;
z-index: 2;
width:100%;
padding: 10px;
left: 0px;

}
.myButton{
background-image: url(/image/user.svg);
background-size: 33px;
background-repeat: no-repeat;
padding: 9px 0px 10px 35px;
border: none;
background-color: rgba(48,52,65,1);
cursor:pointer;
outline:none; 

}
.menu-section{
display: flex;
flex-direction: row;
justify-content: flex-end;
color: white;
}

a{
text-decoration: none;
color: white;
}
a:hover{
opacity: 0.6;
}

.sub-property {
display: none;
position: absolute;
top: 39px;
left: 112px;
right: auto;
border: 0;
list-style: none;
overflow: visible;

}
.sub-property li{
padding: 3px;
}


.property:hover .sub-property { 
display: flex;
flex-direction: column;
justify-content: flex-start;
background-color: rgba(48,52,65,1);
padding: 35px;

}
.menu-section ul li{
display: inline;
font-size: 20px;

}
.menu > li::before {
content: "|";
margin: 5px;
color: #fff;
}
.menu li:first-child::before  {
display: none;
}
.user{
box-sizing: border-box;
}
.sign{
  display: flex;
  justify-content: space-evenly;
}
form{
  margin: 0;
  padding: 0; 

}
.user-section{
  display: block;
}

#slider {
padding-top: 60px;
position: relative;
overflow: hidden;
height: 390px;
width: 100%;
margin: auto;
}

#slider ul {
position: relative;
margin: 0;
padding: 0;
list-style: none;
}

#slider ul li {
position: relative;
display: block;
float: left;
margin: 0;
padding: 0;
width: 100vw;
height: 400px;
text-align: center;
text-transform: uppercase;
height: 400px;
}

.slide1{
background-image: url(/image/slider-1.jpg);
background-repeat: no-repeat;
background-size: cover;

}
.slide2{
background-image: url(/image/slider-2.jpg);
background-repeat: no-repeat;
background-size: cover;

}
.slide3{
background-image: url(/image/slider-3.jpg);
background-repeat: no-repeat;
background-size: cover;

}
span{
font-family: sans-serif;
margin: 18px;
font-size:25px;

color: white;
}
.order{
position: relative;
text-transform: uppercase;
padding-top: 11px;
}

.user{
display: none;
}
@media (max-width: 750px) 
{
.menu-btn{
  display: inline-block;
}
.order{
  display: none;
}

}
.menu-btn {
display: inline-block;
padding-top: 15px;
right: 35px;
top: 23px;
cursor: pointer;
transition: all 0.5s ease-out; 
}
.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: white;
  transition: all 0.5s ease-out;
}

.menu-btn.close {
  transform: rotate(180deg);
}
.menu-btn.close .btn-line:nth-child(1) {
    transform: translate(0px, 15px) rotate(45deg); 
}

.menu-btn.close .btn-line:nth-child(2) {
    opacity: 0; 
}

.menu-btn.close .btn-line:nth-child(3) {
    transform: translate(0px, 0px) rotate(-45deg); 
}

.menu.show {
  visibility: visible; 
}

.menu-branding, .menu-nav {
  display: none;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50vw;
  height: 100vh;
  overflow: hidden; 
}

.menu-nav {
  margin: 0;
  padding: 0;
  background: black;
  opacity: .5;
  list-style: none;
  transform: translate3d(100%, 0, 0);
  transition: all 0.5s ease-out; 
}

.menu-nav.show {
    transform: translate3d(0, 0, 0);
  
}
.menu-branding {
  background: black;
  transform: translate3d(100%, 0, 0);
  transition: all 0.5s ease-out;
  background: rgba(0, 0, 0, 0.9);
}

.menu-branding.show {
  transform: translate3d(0, 0, 0); 
}

.img {
border-radius: 50%;
width: 350px;
height: 350px;
border: 2px solid yellow; 
}

main .icons {
  margin-top: 1.5rem;
}

main .icons a {
  padding: 0.4rem;
}

main .icons a:hover {
  color: yellow;
  transition: all 0.5s ease-out;
}

main#home {
  overflow: hidden;
}

main#home h1 {
  margin-top: 27vh;
}

.user-section .user{
  z-index: 3;
  position: absolute;
  right: 0px;
  width: 300px;
}