*{
margin: 0 auto;
}

.header-container{
font-family: sans-serif;
background-color: rgba(48,52,65,1);
position:fixed; 
display: flex;
justify-content: space-around;
top:0;
z-index: 2;
width:100%;
padding: 10px;
left: 0px;

}
.myButton{
background-image: url(/image/user.svg);
background-size: 33px;
background-repeat: no-repeat;
padding: 9px 0px 10px 35px;
border: none;
background-color: rgba(48,52,65,1);
cursor:pointer;
outline:none; 

}
.menu-section{
display: flex;
flex-direction: row;
justify-content: flex-end;
color: white;
}

a{
text-decoration: none;
color: white;
}
a:hover{
opacity: 0.6;
}

.sub-property {
display: none;
position: absolute;
top: 39px;
left: 112px;
right: auto;
border: 0;
list-style: none;
overflow: visible;

}
.sub-property li{
padding: 3px;
}


.property:hover .sub-property { 
display: flex;
flex-direction: column;
justify-content: flex-start;
background-color: rgba(48,52,65,1);
padding: 35px;

}
.menu-section ul li{
display: inline;
font-size: 20px;

}
.menu > li::before {
content: "|";
margin: 5px;
color: #fff;
}
.menu li:first-child::before  {
display: none;
}
.user{
box-sizing: border-box;
}
.sign{
  display: flex;
  justify-content: space-evenly;
}
form{
  margin: 0;
  padding: 0; 

}
.user-section{
  display: block;
  width: 10%;
}

#slider {
padding-top: 28px;
position: relative;
overflow: hidden;
height: 390px;
width: 100%;
margin: auto;
}
span{
  padding-top: 40px;
}
#slider ul {
position: relative;
margin: 0;
padding: 0;
list-style: none;
}

#slider ul li {
position: relative;
display: block;
float: left;
margin: 0;
padding: 0;
width: 100vw;
height: 400px;
text-align: center;
text-transform: uppercase;
height: 400px;
}

.slide1{
background-image: url(/image/slider-1.jpg);
background-repeat: no-repeat;
background-size: cover;

}
.slide2{
background-image: url(/image/slider-2.jpg);
background-repeat: no-repeat;
background-size: cover;

}
.slide3{
background-image: url(/image/slider-3.jpg);
background-repeat: no-repeat;
background-size: cover;

}
span{
font-family: sans-serif;
margin: 18px;
font-size:25px;

color: white;
}
.order{
position: relative;
text-transform: uppercase;
padding-top: 11px;
}

.user{
  display: none;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(48,52,65,1);
}
@media (max-width: 750px) 
{
.menu-btn{
  display: inline-block;
}
.order{
  display: none;
}

}
.menu-btn {
display: inline-block;
padding-top: 15px;
right: 35px;
top: 23px;
cursor: pointer;
transition: all 0.5s ease-out; 
}
.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: white;
  transition: all 0.5s ease-out;
}

.menu-btn.close {
  transform: rotate(180deg);
}
.menu-btn.close .btn-line:nth-child(1) {
    transform: translate(0px, 15px) rotate(45deg); 
}

.menu-btn.close .btn-line:nth-child(2) {
    opacity: 0; 
}

.menu-btn.close .btn-line:nth-child(3) {
    transform: translate(0px, 0px) rotate(-45deg); 
}

.menu.show {
  visibility: visible; 
}

.menu-branding, .menu-nav {
  display: none;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50vw;
  height: 100vh;
  overflow: hidden; 
}

.menu-nav {
  margin: 0;
  padding: 0;
  background: black;
  opacity: .5;
  list-style: none;
  transform: translate3d(100%, 0, 0);
  transition: all 0.5s ease-out; 
}

.menu-nav.show {
    transform: translate3d(0, 0, 0);
  
}
.menu-branding {
  background: black;
  transform: translate3d(100%, 0, 0);
  transition: all 0.5s ease-out;
  background: rgba(0, 0, 0, 0.9);
}

.menu-branding.show {
  transform: translate3d(0, 0, 0); 
}

.img {
border-radius: 50%;
width: 350px;
height: 350px;
border: 2px solid yellow; 
}

main .icons {
  margin-top: 1.5rem;
}

main .icons a {
  padding: 0.4rem;
}

main .icons a:hover {
  color: yellow;
  transition: all 0.5s ease-out;
}

main#home {
  overflow: hidden;
}

main#home h1 {
  margin-top: 27vh;
}

.user-section .user{
  z-index: 3;
  position: absolute;
  right: 0px;
  width: 300px;
}
.user label{
  color: white;
  font-weight: bold;
}


input[type="password"]{
  height: 40px;
  background-color: #f0f0f0;
  border: 0;
  width: 100%;
  border-radius: 0;
  transition: all .15s ease-in;
  background-color: #f0f0f0;
  font-family: inherit;
  font-size: 14px;
  outline: 0;
}
#log-login{
  height: 40px;
  background-color: #f0f0f0;
  border: 0;
  width: 100%;
  border-radius: 0;
  transition: all .15s ease-in;
  background-color: #f0f0f0;
  font-family: inherit;
  font-size: 14px;
  outline: 0;
}
.form-field{
  position: relative;
  width: 100%;
  padding-right: 15px;
  
}
.field-title {
  padding: 5px;

 
}
.elementor a {
  -webkit-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
}
.homepress-button {
  border: 0;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  padding: 14px 30px;
  line-height: 18px;
  text-shadow: none;
  font-weight: 600;
  font-size: 13px;
  width: 100%;
 
}
.stm-listing-login, .login-page-box {
  position: relative; 
   overflow: hidden; 
  margin-top: 40px;
}
.user-registration-link{
  text-align: center;
  padding-top: 15px;
}
.homepress-button {
  background-color: rgba(35,77,212,1);
  color: rgba(255,255,255,1);
}
.homepress-button:hover {
  background-color: rgba(67,195,112,1);
  color: rgba(255,255,255,1);
}
.homepress-button-full {
  display: block;
  width: 100%;
  border: none;
}
.homepress-checkbox {
  margin-top: 10px;
}
.stm-row {
  padding: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -43px;
}
.forgot-password-in-form {
  text-align: right;
}
#user_name{
  color: white;
  padding: 12px;
  font-size: 18px;
}