* {
  margin: 0;
  padding: 0;

}

body {
  font-size: 1rem;
}
#slider{
  display: none;
}
h1, h3 {
  font-weight: 500;
}
.img-fluid {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.row-flex {
  display: flex;
}


.container {
  max-width: 1200px;
  margin: auto;
}
.container p{
  font-size: 20px;
  font-weight: 600;
  color: #4A4A4A;
  margin-bottom: 15px;
}

.products-box {
  display: grid;
  grid-column-gap: 25px;
}

.grid-box {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.product-box__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  background: white;

  -moz-box-shadow: 0 0 5px #999;
  -webkit-box-shadow: 0 0 5px #999;
  box-shadow: 0 0 5px #999;
  padding: 8px;
}

.product-box__item:hover{
transform: scale(1.1); 
}
.product-box__title {
  text-align: center;
  margin-bottom: 1rem;
}
.product-box__img {
  margin-top: auto;
  margin-bottom: 20px;
}

.product-box__btn {
  padding: 3px;
}

.product-box__btn {
  border: 0;
  padding: 4px 8px;
  background-color: #e0203b;
  border-radius: 3px;
  color: #fff;

}

.top-cart {
  font-family: Helvetica, Verdana, sans-serif;
  width: 100%;
  top: 0;
  left: 0;
}


.center {
  text-align:center;
}
.top-cart-info-container{
  font-weight: 400;
  margin-top: 45px;

}
#price{
  border:1px solid #aaa;
  padding: 1.4px;
  border-radius: 2px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}


.modal-content {
  background-color: #fefefe;
  margin: 10% auto; 
  padding: 20px;
  height: 80%;
  width: 70%; 
}
 .text-order{
     text-align: center;
     font-size: 22px;
 }

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}


form {
  width: 300px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  text-align: center;

}
.filter-box {
  padding: 2rem;
  background-color: transparent;
  color: #888;
  display: flex;
  justify-content:space-evenly;
  text-transform: uppercase;
}
