@import 'config';
@import 'menu';
html{
   font-size: 10px;
}
*{
   box-sizing: border-box;
}
body{
   @include backgroung;
   background: $primary-color;
   color: set-text-color($primary-color);
   height: 100%;
   margin: 0%;
   font-family:'Segou UI', Verdana, Geneva, Tahoma, sans-serif;
   line-height: 1.5;

}
h1,h2,h3{
   margin: 0%;
   font-weight: lighter;



   &.lg-heading{
   font-size: 6rem; 
   text-shadow: -1px -1px white, 1px 1px gray, 2px 2px #7a7a7a, 3px 3px #757575, 4px 4px #707070, 5px 5px #6b6b6b, 6px 6px #666666, 7px 7px #616161, 8px 8px #5c5c5c, 9px 9px #575757, 10px 10px #525252, 11px 11px #4d4d4d, 18px 18px 30px rgba(0, 0, 0, .4), 18px 18px 10px rgba(0, 0, 0, .4);
   }

   &.sm-heading{
      font-weight: bold;
      color: yellow;
      background: linear-gradient(330deg, #00d1d1 0%, #99e052 25%, #52e0e0 50%, yellow 75%, #00d1d1 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 2rem;
       padding: 0.2rem 1rem;
     // background: rgba(lighten($primary-color, 1),0.5);
    }
}
a{
   color:white;
   text-decoration: none;
}


header{
   position: fixed;
   z-index: 3;
   width: 100%;
}
.text-secondary{
   color: $secondary-color;

}
main{
   padding: 4rem;
   height: 100%;


   .icons{
      margin-top: 1.5rem;

      a{
         padding: 0.4rem;

          &:hover{
             color: $secondary-color;
             @include easeOut();
            

          }
      }

   }
   &#home{
      overflow: hidden;
      h1{
         margin-top: 27vh;
      }
   }
}
